[submodule "deps/funserialisation"]
	path = deps/funserialisation
	url = https://github.com/20k/funserialisation
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
